   
#viewport {
    padding-left: 120px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #content {
    width: 100%;
    margin-right: 0;
  }
  
  /* Sidebar Styles */
  
  #sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  h5 {
    font-size: 1.25rem;
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
    --bs-text-opacity: 1;
    color:white;
    margin-top: .5rem !important;}
  a{
    color: white;
  }
  #sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
    padding: 8px 0;
  }
  
  #sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
  
  #sidebar header a:hover {
    color: #fff;
  }
  
  #sidebar .nav{
    
  }
  
  #sidebar .nav li{
    background: none;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 14px;
    padding: 16px 24px;
    width: 100%;
  }
  
  #sidebar .nav li:hover{
    background: none;
    color:cornflowerblue;
    cursor: pointer;
  }
  #sidebar .nav li:hover i{
    color:cornflowerblue !important;
  }
  #sidebar .nav a i{
    margin-right: 16px;
  }
  .topbarrr{
       display: flex
;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
  }

 .nav .act{
    background-color: rgb(73, 82, 165) !important;
   
  }
.i1{
    width: 200px;
  }
  .i2{
    width: 50px;
  }